<div class="container" [ngClass]="{'readonly': option.readonly}">
    <canvas #baseBoard width="800" height="800"></canvas>
    <canvas #whiteBoard width="800" height="800"></canvas>
</div>


<ng-template [ngIf]="option.showToolbar">
    <div class="overlay visibility-2">
        <div>
            <app-toolbar [currentTool]="qboard.activeTool" [tools]="qboard.tools" (onAction)="onAction($event)">
            </app-toolbar>
        </div>
    </div>
</ng-template>


<pre style="color: white; margin-top: 700px;">
    <!-- {{qboard.activeTool | json}} -->
</pre>